{% extends 'snsapp/base.html' %}


{% block header %}
<!-- <h1>Home</h1> -->
{% endblock %}
<!-- <link rel="stylesheet" href="../../static/css/snsapp.css">
<script src="https://kit.fontawesome.com/5c072f24bf.js" crossorigin="anonymous"></script> -->
{% endblock %}

{% block content %}
{% for item in data %}
<div class="show_table">
    <h2>{{item.title}}</h2>
    <form action="{% url 'like' item.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="&#xf004">
        <i class="fa-thin fa-heart"></i>
    </form>
    <section class="credit">
        <p>{{item.created_date|date:"Y m d"}}</p>
        <p>{{item.creator}}</p>
    </section>
    <audio controls>
        <source src=" {% if item.sound %} {{ item.sound.url }} {% endif %}" type="audio/wav">
    </audio>

</div>
{% endfor %}
{% include 'snsapp/navbar.html' %}

{% endblock %}