$base-font-size: 14px;
$title-font-size: 48px;
$main-color: #abbcc9;
$sub-color: #24568b;
$background-color: #000;
$white: #fff;
$gray: #f4f4f4;
$font-family: "Montserrat", sans-serif;

.title {
    padding-top: 400px;
    background-image: url("../images/window.jpg");
    background-size: 100%;
    background-position: center;
    color: $main-color;
    text-align: center;
    font-size: $title-font-size;
    font-size: $base-font-size;
}
.login_out{
    text-align: center;
    .buttons{
        color: $main-color;
        font-size: $base-font-size;
    }
}
